@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <form method="post" action="/customers/create">
        Company Name:
        <br />
        <input type="text" name="CompanyName" />
        <br />
        Adress:
        <br />
        <input type="text" name="Adress" />
        <br />
        Employee Count: 
        <br />
        <input type="text" name="EmployeeCount" />
        <br />
        <input type="submit" value="create" />
        <br />
    </form>
</body>
</html>
